*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 16px;
    line-height: 1.625;
}

body{
    background: #f0f2f2;
    font-family: Roboto, serif;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    width: auto;
    color: #6f6f6f;
}   
a{
    color: inherit;
    text-decoration: none;
    transition: all .4s;
}
img{
    max-width: 100%;
    height: auto;
}
.topbar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: .8;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
p{
    text-align: justify;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: #ffeee6;

}
.nav-brand{
    color: #e36224;
    font-size: 28px;
    font-weight: 500px;
}
nav .nav-list{
    display: flex;
}
nav .nav-list .nav-item{
    cursor: pointer;
    padding: 0 30px;
    height: 100%;
    transition: .5s;
    color: rgba(0, 0, 0, 0.57);
}
nav .nav-list .nav-item:hover{
    background: #e36224;
    color: white;
}
.nav-link{
    font-weight: 700;
}
.baseline-container{
    display: flex;
    align-items: center;
    height: 90vh;
    background:
        linear-gradient(180deg, rgba(0,0,0,0.92), rgba(28,28,28,0.4))
        ,
        url(background/construction-01.jpg) center center / cover no-repeat;
}
.baseline-container .carrousel{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.baseline-container .carrousel .activity-span{
    color: white;
    font-weight: 700;
    font-size: 4em;
}
.baseline-container .carrousel .activity-strong{
    color: #e36224;
    font-weight: 700;
    font-size: 4em;
}
.container-small{
    margin: 0 50px;
}

.title{
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 1.1;
    color: black;
    font-weight: 700;
    margin: 0;
}
.block-body{
    order: 1;
    padding-left: 30px;
}
.block-body .title{
    margin: 15px;
}
.block-left{
    display: flex;
    justify-content: space-around;
}
.block-img{
    max-width: 450px;
    min-width: 50%;
    height: auto;
    position: relative;
    margin-left: 30px;
}
.block-img::before{
    content: '';
    position: absolute;
    display: block;
    border: solid 1px #e36224;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.block-img img{
    position: relative;
    z-index: 1;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
.big-container{
    background: #030101;
    padding: 30px;

}
.big-container h2{
    color: #e36224;
    padding-bottom: 30px;
    position: relative;
}
.big-container h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 2px;
    background-color: #e36224;
    transition: width .5s;
}
.big-container:hover h2::after{
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: all 1s;
}

.tabs li a{
    display: inline-block;
    width: 300px;
    height: 3em;
    text-align: justify;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .4s;

}
.tabs li a:hover{
    color: #e36224;

}
.tabs li.active a:hover{
    color: white;
}

.tab-content{
    text-align: justify;
}

.service-img {
    max-width: 450px;
    min-width: 50%;
    height: auto;
    margin: 0 20px;
    border-radius: 50%;
}
.service-img img{
    max-width: 100%;
    min-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-content{
    display: none;
    transition: opacity 1s;
    opacity: 0;
}
.tab-content.active{
    display: flex;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
}
.fade{
    opacity: 0;
    transition: opacity 0.3s;
}
.fade.in{
    opacity: 1;
}
.tabs .active a{
    background: #e36224;
    color: white;
}
.service-img{
    flex-grow: 1;
}
.tab-content .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.body p a{
    display: inline-block;
    background: #e36224;
    padding: 1em;
    margin-top: 2em;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition: transform .4s;
}
.body p a:hover{
    transform: scale(1.2);
}
@media (max-width: 840px) {
    .container-small{
        margin: 0;
    }
    .block-left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .block-img{
        max-width: 100%;
        height: auto;
        position: relative;
        margin: 0;
    }
    .block-img::before{
        content: '';
        position: absolute;
        display: block;
        border: solid 1px #e36224;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-img img{
        position: relative;
        z-index: 1;
        max-width: 100%;
        min-width: 50%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
    }
    .block-body{
        order: -1;
        padding: 20px;
    }
}
@media (max-width: 884px) {
    
    nav .nav-list{
        display: grid;
        position: absolute;
        background: #e36224;
        width: 100%;
        top: 75px;
        left: 0;
        opacity: .9;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    nav .nav-list .nav-item{
        padding-left: 35px;
        color: white;
    }
    nav .nav-list .nav-item:focus{
        background: white;
    }
    nav .nav-list .nav-item:hover{
        background: #dcdcdb;
        color: #e36224;
    }
    nav .navbar-toggler{
        display: grid !important;
    }
    .baseline-container{
        height: 45vh;
    }

    .baseline-container .carrousel .activity-span{
        color: white;
        font-weight: 700;
        font-size: 2em;
    }
    .baseline-container .carrousel .activity-strong{
        color: #e36224;
        font-weight: 700;
        font-size: 2em;
    }
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .tab-content.active{
        display: flex;
        opacity: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

nav .navbar-toggler{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;

}

nav .navbar-toggler .bar{
    width: 40px;
    height: 2.5px;
    margin-bottom: 10px;
    background: #e36224;
    border-radius: 10%;
    transition: .4s;
}
input{
    display: none;
}
input:checked ~ nav .nav-list{
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler{
    margin-top: 35px;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}
input:checked ~ nav .navbar-toggler .bar:nth-child(2){
    display: none;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(3){
    transform: rotate(-45deg);
}

